@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.dashTable {
  width: 85vw;
  margin-top: 3vh;
  color: aliceblue;
}

.dashTable thead {
  height: 7vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.136);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: rgb(0, 32, 57);
}

.dashTable tbody {
  display: block;
  height: 63vh;
  margin-top: 1vh;
  overflow: auto;
}

.dashTable tbody::-webkit-scrollbar {
  display: none;
}

.dashTable tr {
  display: flex;
  justify-content: space-between;
}

.dashTable td,
th {
  padding: 0.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.136);
  border-right: 1px solid rgba(0, 0, 0, 0.136);
  text-align: center;
  width: 25%;
}

.dashTable td {
  height: 9vh;
}

.dashTable td:first-of-type,
th:first-of-type {
  border-left: none;
  text-align: left;
  padding-left: 1rem;
  width: 50%;
}

.dashTable td:last-of-type,
th:last-of-type {
  border-right: none;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}