.loginFormContainer {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 35vw;
    height: 75vh;
    padding: 1rem;
    margin: auto;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginFormContainer h1{
    color: aliceblue;
}

.loginForm {
    width: 30vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.loginForm label{
    color: aliceblue;
    font-weight: 600;
}

.loginForm .inputs {
    width: 30vw;
    height: 15vh;
}

.loginForm .inputs input{
    background: transparent;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
}

.loginForm .inputs input::placeholder{
    color: rgb(158, 156, 156);
}

.loginForm button{
    color: aliceblue;
    background: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
    width: 15vw;
    font-weight: 600;
    font-size: 1.2rem;
}

.loginFormContainer p{
    font-size: 1.1rem;
}

.loginFormContainer p a{
    text-decoration: none;
    transition: all 0.2s;
}

.loginFormContainer p a:hover{
    color: aliceblue;
}
