@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap"); /*Font for Brand Name*/
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Mukta:wght@200;300;400;500;600;700;800&display=swap"); /*Font for Login/Signup Links*/

.navContainer {
  display: flex;
  width: 65vw;
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
}

.navContainer a {
  text-decoration: none;
  color: white;
}

.navContainer > a {
  font-size: 1.4rem;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logLinks {
  width: 10vw;
  display: flex;
  justify-content: space-around;
}

.logLinks a {
  padding: 0.5rem;
  font-size: 1.1rem;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}
